body{
    height: 100vh;
    width: 100%;
    background-color: #303030;
    margin: 0;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0px;
    color: blueviolet;
    font-size: 75px;
    position: absolute;
    width: 100%;
    top: 45vh;
}

h2{
    text-align: center;
    position: absolute;
    color: blueviolet;
    margin: 0;
    position: absolute;
    width: 100%;
    top: 55%;
}

#opt_box {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-evenly; 
} 
