body{
    height: 100vh;
    width: 100%;
    background-color: #303030;
    margin: 0;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0px;
    color: palegoldenrod;
    font-size: 125px;
    position: relative;
    width: 100%;
    height: auto;
    top: 35vh;
    text-shadow: palegoldenrod 1px 0 40px;
}

h2{
    text-align: center;
    position: element(h1);
    color: blueviolet;
    margin: 0;
    font-size: 40px;
    position: relative;
    width: 100%;
    top: 34vh;
    text-shadow: #000000 0px 5px;
}

.button_div {
    position: relative;
    width: 100%;
    top: 38vh;
}

#abt{
    position: relative;
    left: 26%;
    background-color: #434343;
}

#prj{
    position: relative;
    left: 35%;
    background-color: #434343;}

#lnk{
    position: relative;
    left: 46%;
    background-color: #434343;}

#git{
    position: relative;
    left: 57%;
    background-color: #434343;}
